.heroImage {
  position: relative;
  background-image: url(../public/car.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  color: #fff;
}

.hero__container {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: linear-gradient(#0a0a0a0c, #0f0f0fb9, #0f0f0f);
}

.hero__cta {
  display: flex;
  padding: 1rem;
}

.btn {
  width: 80%;
  border: 1px solid #fff;
  background-color: #0f0f0f;
}

.hero_cars {
  margin-left: 0.5rem;
  background-color: rgb(41, 5, 5);
}
@media only screen and (min-width: 850px) {
  .heroImage {
    background-position: right;
    height: 90vh;
  }
}
