.nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.active {
  left: 0;
}

.nav__content {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  margin-left: 10rem;
}